<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Jha will Help You</title>
	</head>
	<body>
		{{> header}} <!--Dynamic data from Header.hbs -->
		<p>Welcome to About Page </p>
		<p>Sorry, But you won't find anything here</p>

		{{> footer}}
	</body>
</html>